/* Variables */
$button-height: 40px;
$container-height: 100%;
$gameContainer-height: 100vh;

$modeButtons-height: 38px;
$modeButtons-width: 150px;
$modeButtons-separation: 650px;

$lobbySelectTable-width: 30vw;
$lobbySelectTable-paddingTop: 28vh;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

.App {
  text-align: center;
  padding: 15px;
}

.App-header {
  color: white;
}

.App-intro {
  font-size: large;
}

.table.leaderboard {
  margin-bottom: 10px;
  height: 40%;
}

.lobbies >tbody>tr>td{
  height:25px;
  padding:8.5px;
  border-top: 0px;
}

/* Main Container Styles */

.mainContainer {
  height: 100 - $gameContainer-height;
  z-index: 10;
  width: 100%;
}

#mainRow {
  height: 100%;
}

.leaderboard {
  height: $container-height;
  box-sizing: border-box;
  margin-left: 3%;
  margin-right: 17%;
  width: 30%;
  padding: .2%;
}

#buttonHolder {
  height: 5%;
}

.gameContainer {
  height: $container-height;
  max-width: 100%;
  margin: auto;
  display: block;
  // padding-top: calc(100% - $button-height);
  padding: 0px;
  background-image: url('../../assets/images/splash/genZedSplash.png');
  background-size: 100%;
  box-sizing: border-box;
  margin-bottom: -220px;
  z-index: 1;
}

.gc {
  background-image:url('../../assets/images/splash/genZedHomeSplash.png');
  background-size: 100%;
  height: $gameContainer-height;
  background-color: black;
}

/* Mode Selection */
.modeButtonHolder {
  width: 100vw;
  padding-top: calc( 55vh - #{$modeButtons-height});
  padding-left: calc( (100vw / 2) - (#{$modeButtons-width} + (#{$modeButtons-separation} / 2) ));
}

.modeButtons {
  height: $modeButtons-height;
  width: $modeButtons-width;
}

.selectMultiplayer {
  margin-right: calc(#{$modeButtons-separation} / 2);
}

.selectSinglePlayer {
  // margin-left: $modeButtons-separation;
  margin-left: calc(#{$modeButtons-separation} / 2 - 35px);
}

/* Lobby Selection */
.lobbyTableHolder {
  width: $lobbySelectTable-width;
  margin: auto;
  padding-top: $lobbySelectTable-paddingTop;
}

.lobbyTableRow {
  border-top: 1px solid white;
}

.lobbyName {
  width: 50%;
  border: none !important;
  margin: none;
}

.joinLobbyButton {
  width: 90%;
  display: inline-block;
  margin: none;
}

.lobbyTableRow td {
  vertical-align: middle;
}
.table.lobbies {
  padding: .5rem;
}




.buttonHolder {
  padding-top: 49vh;
  width: 300px;
  margin: auto;
}


.minPlayerText{
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.playButton {
  height: 40px;
  margin: auto;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  background-color: #b80000;
  border-color: #b70000;
  width: 200px;
}

.playButton:disabled{
  background-color: #b70000;
  border-color: #b70000;
}

.playButton:hover{
  background-color: rgba(#b80000, 0.64);
  border-color: rgba(#b80000, 0.64);
}

#game {
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas {
  margin-top: 0;
}

.playBtnText {
  font-size: 1em;
}

#joinButtonHolder {
  height: 25px;
  margin-bottom: 1%;
  margin-top: 1%;
}

#joinGame {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #b70000;
  border-color: #b70000;
}

#joinGame:hover{
  background-color: rgba(#b80000, 0.64);
  border-color: rgba(#b80000, 0.64);
}

/* Chat App Styles */
/* TODO: Resize Leaderboard Components by wrapping in Div with same VH as gameContainer
Then, give all components a relative height */
.chatContainer {
  min-height: 210px;
  height: 100%;
  padding: .5%;
  margin-right: 3%;
  margin-left: 17%;
  width: 30%;
}

.chatComponents {
  box-sizing: border-box;
  border-radius: 10px;
  height: 100%;
}

.messageForm {
  padding: 1.5px;
  height: 100%;
}

#messageDisplay {
  padding: 5px;
  height: 79%;
  border-radius: 10px;
  background-color: rgba(172, 172, 172, 0.18);
  overflow-y: auto;
  text-wrap: normal;
  margin-bottom: 4px;
}

.messageList {
  padding: 0px;
  margin-bottom: 0.5rem;
}

.messageText {
  margin-bottom: 0px;
  color: whitesmoke;

}

#createMessage {
  border: 0;
  padding: 10px;
  width: 100%;
  margin-right: 0.5%;
  background-color: rgba(255,255,255,0.2);
  color: whitesmoke;
}
#chatForm {
  height: 100%;
}
#sendMessage {
  width: 24%;
  padding: 10px;
}

.wrap {
  min-height: 45vh;
}

.chatFooter {
  margin-top: 2px;
  height: 20%;
}

/* Leaderboard Style */
.table.leaderboard td , .table.leaderboard th {
  background: rgba(0,0,0,0.2);
  padding: 5px;
}

.table-inverse.leaderboard {
  background-color: transparent;
}
